body {background-color: black}
h1   {color: orange; text-align: center}
p    {background-color: orange; padding: 10px}
p1   {background-color: orange; padding: 10px; margin: 50px}
p2   {color: black;}